body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
nav {
    margin-top: 10px;
    text-align: center;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #121212;
    color: #d4af37;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #444;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #1e1e1e;
    padding: 30px 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: #d4af37; /* ゴールドカラー */
    letter-spacing: 1px;
}

section {
    margin-top: 30px;
    background-color: #202020;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 24px;
    color: #d4af37;
    border-bottom: 2px solid #444;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    line-height: 1.8;
}

a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
}
.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
